@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Noto+Sans+TC:wght@400;700&family=Roboto&display=swap");
/* css reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* PC */
* {
  box-sizing: border-box;
}
.container,
.navbar {
  max-width: 1296px;
  margin: 0 auto;
  font-family: "Noto Sans TC", sans-serif, serif;
  line-height: 1.5;
}
.header,
.footer {
  background-color: #aa0601;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.navbar,
.nav-list,
.footer-top,
.footer-bottom,
.router-link,
.external-link {
  display: flex;
}
.navbar,
.footer-top,
.footer-bottom {
  justify-content: space-between;
}

/* header */
.header {
  padding: 16px 0;
}
.nav-list {
  align-items: center;
}
.nav-list li {
  padding-right: 30px;
  font-size: 20px;
}
.logo {
  width: 80px;
  vertical-align: middle;
}
/* content */
.content {
  max-width: 856px;
  padding-top: 96px;
  padding-bottom: 80px;
  margin-right: auto;
}
.title {
  font-weight: 700;
  font-size: 48px;
  border-left: 8px solid #9f1213;
  padding-left: 8px;
}
.text {
  font-weight: 700;
  padding-top: 32px;
  font-size: 24px;
}
.question {
  font-weight: 700;
  padding-top: 24px;
  font-size: 20px;
}
.answer {
  padding: 8px 0;
  font-size: 16px;
}
/* footer */

.footer-top,
.footer-bottom {
  justify-content: space-between;
}
.footer-top {
  padding-top: 48px;
}
.contact {
  padding-top: 36px;
  padding-bottom: 32px;
}
.router-link li {
  padding-right: 48px;
  font-size: 16px;
}
.external-link li {
  padding-right: 32px;
}
.social-media {
  width: 48px;
}
.contact {
  font-size: 36px;
  color: #ffffff;
}
.contact i {
  padding-right: 22px;
}
.phone {
  padding-bottom: 8px;
}
.footer-bottom {
  border-top: 1px solid #ffffff;
  padding: 32px 0;
}
.copy-right {
  color: #ffffff;
  font-size: 16px;
  font-family: Roboto;
}
.policy {
  font-size: 14px;
}
.privacy {
  padding-right: 48px;
}
.nav-list li:last-child,
.router-link li:last-child,
.external-link li:last-child {
  padding-right: 0;
}

/* tablet */
@media (max-width: 992px) {
  .container,
  .navbar {
    max-width: 768px;
    padding: 0 36px;
  }
}
/* mobile */
@media (max-width: 767px) {
  .container {
    max-width: 375px;
    padding: 0 13px;
  }

  /* mobile - header */
  .header {
    padding: 0;
  }
  .navbar {
    display: block;
    padding: 0;
  }
  .logo {
    padding: 16px 0 16px 13px;
  }
  .nav-list {
    flex-wrap: wrap;
  }
  .nav-list li {
    width: 49.7%;
    border-top: 1px solid #ffffff;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-list li:nth-child(2n) {
    border-left: 1px solid #ffffff;
  }
  .nav {
    font-size: 16px;
  }
  /* mobile - content */
  .content {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  .title,
  .text {
    font-size: 24px;
  }
  .text {
    padding-top: 24px;
  }

  /* mobile - footer */
  .router-link {
    display: none;
  }
  .contact,
  .copy-right,
  .policy {
    font-size: 16px;
  }
  .social-media {
    width: 24px;
  }
  .external-link li {
    padding-right: 8px;
  }
  .footer-top {
    padding-top: 24px;
  }
  .contact {
    padding: 0 0 24px 0;
  }
  .contact i {
    padding-right: 11px;
  }
  .footer-bottom {
    padding: 16px 0 24px 0;
    flex-direction: column;
  }
  .policy {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
  }
  .privacy {
    padding-right: 0;
    padding-bottom: 8px;
  }
}
